In [4]:
import pandas as pd # read the dataset 
import numpy as np # numerical python
import matplotlib.pyplot as plt# plot the graph 
import seaborn as sns #plot the graphical

In [5]:
# read the data set
df=pd.read_csv("C:\\Users\\Admin\\Desktop\\santhi\\Diabetes-main\\diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
#Aim to predict weather patient have diabetes
df.shape # to find how many colums and rows

(768, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
df.isnull()# to check the null values #inbetween 4 to 763 we dont know wether have null value or not so that we are using anothers sytex like below

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().sum() # find the null values for each line# to drop the null values #df.dropna()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x=df.iloc[:,df.columns!='Outcome']#data
y=df.iloc[:,df.columns=='Outcome']#outcome

In [14]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [15]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2)#20%test data will store as test data and remaining will store in train data

In [16]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
686,3,130,64,0,0,23.1,0.314,22
469,6,154,78,41,140,46.1,0.571,27
627,0,132,78,0,0,32.4,0.393,21
499,6,154,74,32,193,29.3,0.839,39
74,1,79,75,30,0,32.0,0.396,22

In [17]:
ytest.head()

     Outcome
274        0
135        0
114        1
683        1
500        0

In [18]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
686,3,130,64,0,0,23.1,0.314,22
469,6,154,78,41,140,46.1,0.571,27
627,0,132,78,0,0,32.4,0.393,21
499,6,154,74,32,193,29.3,0.839,39
74,1,79,75,30,0,32.0,0.396,22

In [19]:
xtest.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
274,13,106,70,0,0,34.2,0.251,52
135,2,125,60,20,140,33.8,0.088,31
114,7,160,54,32,175,30.5,0.588,39
683,4,125,80,0,0,32.3,0.536,27
500,2,117,90,19,71,25.2,0.313,21

# algorithem

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
model=RandomForestClassifier()

In [25]:
model.fit(xtrain,ytrain.values.ravel())# to train the algorithems

RandomForestClassifier()

In [26]:
predict_output = model.predict(xtest)# to predict ouput acording to the previeus output(x test)
print(predict_output)

[1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0
 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 1 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 1 0 0 1 1 1 1 1 1 1 0 1 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0
 1 0 1 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 0 0 1 1 0 0]

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
acc=accuracy_score(predict_output,ytest)
print("the accuracy score for RF",acc)

the accuracy score for RF 0.7532467532467533